* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Devanagari', sans-serif;
}

.container {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title {
    display: grid;
    color: #00155a;
    font-size: 60px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding: 3rem;
    grid-gap: 2rem;
    margin-bottom: 200px;
}

header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to left, hsla(138, 61%, 20%, 0.6), hsla(225, 6%, 13%, 0.664), #04290a), url(Imagenes/Estacionamiento.svg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 30px 10px 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: lighter;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5px;
}

nav a:hover {
    background: #000;
    transition: 0.5s;
}

header .textos-header {
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.services {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.services .title {
    text-align: center;
    font-size: 36px;
    color: #00155a;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.services .containerS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.services .imgServices {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.services .imgServices:hover {
    transform: scale(1.05);
}

.services ul {
    list-style-type: none;
    padding-left: 20px;
}

.services li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #333;
}

.services li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #00155a;
    font-size: 14px;
}

.services li:hover {
    color: #00155a;
    font-weight: bold;
}

.aplicacion {
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  
  .aplicacion .title {
    text-align: center;
    font-size: 36px;
    color: #00155a;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .aplicacion .containerS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
  }
  
  .aplicacion .video-container {
    width: 320px;
    height: 180px;
  }
  
  .aplicacion ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .aplicacion li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .aplicacion li:hover {
    color: #00155a;
    font-weight: bold;
  }
